@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@900&display=swap');

:root {
    --learnMoreGlassActive: hsl(7, 99%, 70%);

    --LearnMoreEgg-and-menuHamburgerActive: hsl(51, 100%, 49%);

    --graphicDesignText: hsl(167, 40%, 24%);

    --photographyText: hsl(198, 62%, 26%);

    --colorTextFooter: hsl(168, 34%, 41%);

    --textTitle: hsl(212, 27%, 19%);
    --Very-dark-grayish: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --colorTitleClientes: hsl(210, 4%, 67%);

    --white: hsl(0, 0%, 100%);

    --Barlow: 'Barlow', sans-serif;
    --Fraunces: 'Fraunces', serif;

    --Font: 1.8rem;
    --semi-font: 600;
    --bold-font: 700;
    --black-font: 900;
}
/*======== STYLE ======== */

body {
    font-size: var(--Font);
    font-family: var(--Barlow);
    font-weight: var(--
    );
    background-color: var(--white);
    color: var(--Dark-grayish-blue);
    margin: 0;
}
.texto_cabecalho, .menu {
    color: var(--white);
}
.texto_cabecalho{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-family: var(--Fraunces);
    font-weight: 700;margin-top: 8rem;
}
.logo {
    margin: 1.5rem;
}
.menu{
    color: var(--Dark-grayish-blue);
    font-size: var(--bold-font);
    list-style: none;
    font-size: 1.2rem;
    text-decoration: none;
}
.seta {
    margin-top: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tituloTransform, .tituloStandOut, .SaibaMais_transform, .SaibaMais_StandOut {  
    color: var(--textTitle);
    font-family: var(--Fraunces);
    margin-bottom: 2rem;
    }
    .SaibaMais_transform, .SaibaMais_StandOut {
        margin-top: 2rem ;
        text-transform: uppercase;
        font-size: 1rem;
    }
    .SaibaMais_transform {
        text-decoration-color: var(--LearnMoreEgg-and-menuHamburgerActive);
    } .SaibaMais_StandOut {
        text-decoration-color: var(--learnMoreGlassActive);
    }
.resumoTransform, .resusmoStandOut {
    font-size: 1rem;
    line-height: 2;
}
.DesingGrafico_texto, .resumo__titulo-area2__grafic {
    color: var(--graphicDesignText);
}
.fotografia_texto, .reusmo__titulo__area2-fotografia {
    color: var(--photographyText);
}
.titulo-area2__grafic, .titulo__area2-fotografia{
    font-family: var(--Fraunces);
    margin-bottom:  2rem;
}
.DesingGrafico_texto, .fotografia_texto {
    opacity: 1rem;
}
.depoimentos_clientes {
    font-family: var(--Fraunces);
    text-transform: uppercase;
    padding: 2rem 0;
    color: var(--colorTitleClientes);
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
    opacity: .8;
}
    .depoimentos_dados {
        padding: 2rem 0;
    }
    .foto {
        border-radius: 50%;
        width: 25%;
    }
    .opiniao {
        color: var(--Very-dark-grayish);
        margin: 1.5rem 0 ;
        font-size: 0.88rem;
        line-height: 1.5;
    }
    .nome{
        font-family: var(--Fraunces);
        color: var(--textTitle);
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
    }
    .profissao{
        color: var(--colorTitleClientes);
        font-size: 1rem;
        margin-bottom: 4rem;
    }
    footer {
        background-color: hsl(168, 47%, 68%);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 2rem;
        cursor: pointer;
    }
    .rodape_logo {

    }
    .rodape_menu {
        display: flex;
        align-items: center;
        padding: 2rem 0;
        
    }
    .rodape_itens {
        text-decoration: none;
        font-size: 1rem;
        color: var(--colorTextFooter);
        margin: 1rem 1.5rem;
    }
    .rodape_social {
        display: flex;
        margin: 3rem 0;
    }
    .rodape_redes {
        display: flex;
        margin: 0 1rem;

    }

/*====== RESPONSIVE ======*/

@media only screen and (min-width: 0px) {
    .topo {
        background-image: url(../images/mobile/image-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
    .topo__logo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu-bar {
        padding-right: 2rem;
    }
    .menu {
        display: flex;
        align-items: center;
        line-height: 4rem;
        align-content: flex-start;
        justify-content: center;
        padding: 0;
    }
    .itens {
        display: none;
        background-color: var(--white);
        margin: 2rem;
        padding: 2rem 4rem;
        height: auto; 
    }
    .contato{
        background-color: var(--LearnMoreEgg-and-menuHamburgerActive);
        border-radius: 5rem;
        font-family: var(--Fraunces);
        text-transform: uppercase;
        color: var(--textTitle);
    }
    .texto_cabecalho {
        display: block;
        position: absolute;
    }
    .area1 {
        width: 100%;
        height: auto;
    }
    .egg, .milk {
        width: 100%;
    }
   .campo_texto-ovo, .campo_texto-copo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem;
    text-align: center;
    }
    .DesingGrafico {
        background-image: url(../images/mobile/image-graphic-design.jpg);
    }
    .fotografia {
        background-image: url(../images/mobile/image-photography.jpg);
    }
    .DesingGrafico, .fotografia {
        background-repeat: no-repeat;
        background-size:100%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .DesingGrafico_texto, .fotografia_texto {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 1rem 3rem;
        margin-top: 19rem;
        text-align: center;
        font-weight: var(--semi-font);
    }
    .resumo__titulo-area2__grafic, .reusmo__titulo__area2-fotografia {
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.5;
    }
    .depoimentos {
        margin: 2rem;
        text-align: center;
    }
.grade {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.grade_1 {
    width: 50%;
}
}

@media only screen and (min-width: 768px) {
    .topo {
        background-image: url(../images/desktop/image-header.jpg);
    }
.topo__logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -4%;
}
.menu {
    display: flex;
    color: var(--white
    );
    cursor: pointer;
    text-align: center;
    margin-left: 2rem;
}
.menu-bar {
    display: none;
}
.menu_itens {
    display: flex;
}
.itens {
    display: flex;
    background-color: transparent;
}
.contato {
    background-color: var(--white);
    color: var(--textTitle);
    font-size: 1rem;
    width: 100%;
    height: 70%;
}
.contato:hover{
    background-color: 
     var(--white
    );
    opacity: .3;
    color: bolder var(--white);
}
.texto_cabecalho {
    display: flex;
    margin-left: 25%;
}
.area1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
} 
.campoCima {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
}
.egg, .milk {
    width: 50%;
}
.campo_texto-ovo, .campo_texto-copo {
    align-items: start;
    margin: 3rem;
    padding: 2.5rem;
}
.resumoTransform, .resusmoStandOut {
    font-size: 0.85rem;
    text-align: start;
}
.campoBaixo {
    display: flex;
}
.Area2 {
    display: flex;
}
.DesingGrafico {
    background-image: url(../images/desktop/image-graphic-design.jpg);
    width: 100%;
    height: auto;
}
.fotografia {
    background-image: url(../images/desktop/image-photography.jpg);
    width: 100%;
}
.DesingGrafico_texto, .fotografia_texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    margin-top: 17rem;
    text-align: center;
    font-weight: var(--semi-font);
}
.resumo__titulo-area2__grafic, .reusmo__titulo__area2-fotografia {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
}
.grade {
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
}
.grade_1 {
width: 50%;
}
.depoimentos_dados {
    display: flex;
    flex-direction: row;
    width: 100%;
   align-items: center;
}
.dados {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; 
}

.nome{
    font-family: var(--Fraunces);
    color: var(--textTitle);
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}
.opiniao {
    font-size: 1rem;
    display: flex;
    margin: 1rem 0.9rem;
    text-align: center;
}
.grade {
    width: 100%;
}
.grade_1 {
    width: 25%;
}
.rodape_itens:hover {
    color: var(--white);
}
.rodape_redes:hover{
    filter:  invert(100%);
}
.attribution { font-size: 11px; text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); 
    }
}