@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@900&display=swap');

:root {
    --learnMoreGlassActive: hsl(7, 99%, 70%);

    --LearnMoreEgg-and-menuHamburgerActive: hsl(51, 100%, 49%);

    --graphicDesignText: hsl(167, 40%, 24%);

    --photographyText: hsl(198, 62%, 26%);

    --colorTextFooter: hsl(168, 34%, 41%);

    --textTitle: hsl(212, 27%, 19%)
    --Very dark grayish blue: hsl(213, 9%, 39%)
    --Dark grayish blue: hsl(232, 10%, 55%);
    --colorTitleClientes: hsl(210, 4%, 67%);

    --textHeader: hsl(0, 0%, 100%);
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }